.App {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  background-color: burlywood;
}
.container {
  width: 73vw;
  display: flex;
  justify-content: space-between;
  height: 350px;
}
.counter {
  flex-direction: column;
  padding: 30px;
  border-radius: 20px 20px 20px  20px ;
  background-color: olivedrab;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  display: flex;

}
.functionalBox {

display: flex;

}
.inputError {
  background: red;
  opacity: 0.5;
}
