
.container{
    display: flex;
    flex-direction: column;
}

.settings {
    padding: 13px;
    border-radius: 20px;
    background-color: olivedrab;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.settings input {
    height: 10px;
}

.settings :hover{
    border: 1px solid red;
    border-radius: 20px;
    outline: none;
}
.settings :active{
    border: 1px solid violet;
    border-radius: 20px;
    outline: none;
}
